.container {
	    display: inline-block;
	    cursor: pointer;
}

.bar1, .bar2, .bar3
{
	    width: 35px;
	    height: 5px;
	    background-color: #333;
	    margin: 6px 0;
	    transition: 0.4s;
}

.change .bar1
{
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2
{
	opacity: 0;
}

.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
}

#cadre
{
	padding-bottom: 5px;
	padding-left: 10%;
}

#cadre img
{
	padding: 5px;
	width: 60px;
}

#headerTop
{
	color: white;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

footer
{
	padding : 10px;
	margin-top: 10px;
}

footer img
{
	width: 100px;
}

footer p
{
	font-size: 13px;
}


